<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css') }}">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-14Z000XQH1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-14Z000XQH1');
</script>
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form id="loginForm">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p id="loginError" class="error"></p>
    <p>Don't have an account? <a href="register.html">Register here</a></p>
</div>
<script src="{{url_for('static', filename = 'script.js') }}"></script>
</body>
</html>
